<!DOCTYPE html>
<html lang="en">
<head>
  <title>Agri-Seva</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <center><h1>Agri-Seva</h1></center>
  <h2>
  <ul class="nav nav-tabs">
    <li class="active"><a href="http://127.0.0.1:1991/home/">Home</a></li>
    <li><a href="http://127.0.0.1:1991/house/">House Details</a></li>
    <li><a href="http://127.0.0.1:1991/wells/">Well Details</a></li>
    <li><a href="http://127.0.0.1:1991/farm/">Farm Details</a></li>
    <li><a href="http://127.0.0.1:1991/graph/">Analytics</a></li>
    <li><a href="http://127.0.0.1:1991/analytics/">Analysis</a></li>
  </ul>
  <h2>
  <br>
</div>
</body>
<head>
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: blue;
   color: white;
   text-align: center;
}
</style>
</head>
<center>
<img src = "https://www.valagro.com/media/filer_public/ef/34/ef34a689-6300-415c-b2c2-6da4b82913aa/farm_slideshow3.jpg" alt = "Name" width = "1200" height = "350">
</center>
<br>
<center>
<h1>News Articles</h1>
</center>
</br>
<center>
<iframe src="https://www.livescience.com/topics/agriculture" width="1200" height="400">
</iframe>
<br>
</br>
</br>
<iframe src="http://www.worldofscience.in/pacnt.aspx?ID=Agriculture" width="1200" height="400">
</iframe>

</center>
<div class="footer">
  <p>Contact us:admin@agriseva.com</p>
</div>
</html>

